
.container{
    height: 80vh;
    position: relative;
}

.areaList{
    position: absolute;
    top: 80px;
    height: 610px;
    width: 400px;
    border: solid black 2px;
}

.listSong{
    padding: 30px 1px;
}
.heightList{
    height: 550px;
    list-style: none;
}

.itemMusic{
    text-decoration: none;
    color: azure;
}

.itemMusic:hover{
    color: rgb(14, 150, 204);
}